{% extends "template.html" %}
{% block content %}
    <h1>Hello there!</h1>
		<h3>Welcome to DHS Souvenir Store! Here you will be able to browse our catalogue of sovenirs we have available for purchase, to remind you of the sweet memories you have received (or going to receive), in Dunman High School.</h3>
		<p>To make a purchase, simply select the items you wish to purchase on our store page, then key in your details. We will make a reservation of your order, and it will be ready for quick pickup within one working day.</p>
		<p>An email reminder will be sent to you to remind you of the purchase. In addition, if you create an account, you'll be able to see your order history, to keep track of your orders.</p>
		<p>We kindly thank you for your patronage!</p>
{% endblock %}