{% extends "template.html" %}
{% block content %}
  <div class="banner">
    <img src="{{url_for('static',filename='img/banner.png')}}">
  </div>
  
  <div class="home">
    <a href="{{url_for('store')}}">
      <img src="{{url_for('static', filename='img/featured/feat1.jpg')}}" title="A4 Ring File" alt="A4 Ring File" />
      <img src="{{url_for('static', filename='img/featured/feat2.jpg')}}" title="7-colour sticky note with pen" alt="7-colour sticky note with pen" />
      <img src="{{url_for('static', filename='img/featured/feat3.jpg')}}" title="7-colour sticky note with pen" alt="7-colour sticky note with pen" />
      <img src="{{url_for('static', filename='img/featured/feat4.jpg')}}" title="7-colour sticky note with pen" alt="7-colour sticky note with pen" />
      
    </a>
  </div>
  
{% endblock %}