{% extends "template.html" %}
{% block content %}
  <div class="banner">
    <img src="{{url_for('static',filename='img/banner.png')}}">
  </div>
  
  <div class="home">
    <a href="{{url_for('store')}}">
      <div class="imageContainer">
        <img class="top" src="{{url_for('static', filename='img/featured/feat1.jpg')}}"/>
        <img class="bottom" src="{{url_for('static', filename='img/store/list7.jpg')}}"/>
      </div>
      <div class="imageContainer">
        <img class="top" src="{{url_for('static', filename='img/featured/feat2.jpg')}}"/>
        <img class="bottom" src="{{url_for('static', filename='img/store/list8.jpg')}}"/>
      </div>
      <div class="imageContainer redBorder">
        <img class="top" src="{{url_for('static', filename='img/featured/feat3.jpg')}}"/>
        <img class="bottom" src="{{url_for('static', filename='img/store/list10.jpg')}}"/>
      </div>
      <div class="imageContainer redBorder">
        <img class="top" src="{{url_for('static', filename='img/featured/feat4.jpg')}}"/>
        <img class="bottom" src="{{url_for('static', filename='img/store/list11.jpg')}}"/>
      </div>
    </a>
  </div>
  
{% endblock %}