{% extends "template.html" %}
{% block content %}
	
    <h1>Edit Account Information</h1>
		{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
		
		{% for i in info %}
		
		<form action="{{ url_for('updateAccount') }}" name="updateAccount" title="updateAccount" method="post" >
			<dl>
				<dt>Username:
				<dd><input type=text name=username value="{{ i.Username }}" required></dd>
				<br />
				<dt>Old Password:</dt>
				<dd><input type=password name=oldPassword pattern=".{7,}"></dd>
				<dt>New Password: (7 characters minimum)</dt>
				<dd><input type=password name=password pattern=".{7,}" title="7 characters minimum"></dd>
				<dt>Confirm Password: (7 characters minimum)</dt>
				<dd><input type=password name=confirmPassword pattern=".{7,}" title="7 characters minimum"></dd>
				<br />
				<dt>Email:</dt>
				<dd><input type=email name=email value="{{ i.Email }}" required></dd>
				<br />
				<dt>Mobile Number: (8 digits)</dt>
				<dd><input type=text name=mobile_number pattern="[0-9]{8}" title="8 characters" value="{{ i.Mobile_number }}" required></dd>
				<br />
			</dl>
      <input type=submit value="Update Account">
		</form>
		
		{% endfor %}
		
		
		
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			
{% endblock %}