{% extends "template.html" %}
{% block content %}
	
	<h1>Register</h1>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('register') }}" method=post>
    <dl>
      <dt>Email:
      <dd><input type=email name=username required></dd>
      <dt>Password: (7 characters minimum)</dt>
      <dd><input type=password name=password pattern=".{7,}" title="7 characters minimum" required></dd>
			<br />
			<br />
      <input type=submit value=Register>
    </dl>
  </form>
	
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
		
	
{% endblock %}