{% extends "template.html" %}
{% block content %}
  <div class="store">
    <a href="{{url_for('store')}}">
      <img src="{{url_for('static', filename='img/store/list1.jpg')}}" title="A4 lecture pad" alt="A4 lecture pad" />
      <img src="{{url_for('static', filename='img/store/list2.jpg')}}" title="7-colour sticky note with pen" alt="7-colour sticky note with pen" />
      <img src="{{url_for('static', filename='img/store/list4.jpg')}}" title="A5 note book with zip bag" alt="A5 note book with zip bag" />
      <img src="{{url_for('static', filename='img/store/list5.jpg')}}" class="orangeborder grow" title="2B pencil" alt="2B pencil" />
      <img src="{{url_for('static', filename='img/store/list6.jpg')}}" class="orangeborder" title="Stainless steel tumbler" alt="Stainless steel tumbler" />
      <img src="{{url_for('static', filename='img/store/list7.jpg')}}" class="orangeborder" title="A4 clear holder" alt="A4 clear holder" />
      <img src="{{url_for('static', filename='img/store/list8.jpg')}}" title="A4 vanguard file" alt="A4 vanguard file" />
      <img src="{{url_for('static', filename='img/store/list9.jpg')}}" title="Name card holder" alt="Name card holder" />
      <img src="{{url_for('static', filename='img/store/list10.jpg')}}" title="Umbrella" alt="Umbrella" />
      <img src="{{url_for('static', filename='img/store/list11.jpg')}}" class="orangeborder" title="School badge (Junior High)" alt="School badge (Junior High)" />
      <img src="{{url_for('static', filename='img/store/list12.jpg')}}" class="orangeborder" title="School badge (Senior High)" alt="School badge (Senior High)" />
      <img src="{{url_for('static', filename='img/store/list13.jpg')}}" class="orangeborder" title="Dunman dolls (pair)" alt="Dunman dolls (pair)" />
    </a>
  </div>
{% endblock %}