<!DOCTYPE html>
<html>
  <head>
    <title>DHS Souvenir Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="http://normalize-css.googlecode.com/svn/trunk/normalize.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
      
  </head>
  <div id="container">
    <div id="topwrapper"></div>
    <div id="mainwrapper">
    <header>
      <div id="logo"><a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" title="DHS Souvenir Store" alt="DHS Souvenir Store" /></a></div>
      {% if session.logged_in %}
      <div id="welcome">You are logged in as <a href="{{ url_for('myAccount') }}">{{session.logged_in}}</a></div>
      {% else %}
      <div id="welcome">You are not logged in.</br> You need to <a href="{{ url_for('log') }}">login</a> or <a href="{{ url_for('register') }}">register</a> in order to purchase from the DHS Souvenir Store.</div>
      {% endif %}
      <nav>
        <ul>
          <li><a href="/" >Home</a></li>
          <li><a href="/store">Store</a></li>
          <li><a href="/aboutUs">About Us</a></li>
          {% if not session.logged_in %}
            <li><a href="/log">Login</a></li>
          {% else %}
            {% if session.logged_in == "admin" %}
                <li><a href="/allAccounts">View All Account Info</a></li>
                <li><a href="/allOrders">View All Orders</a></li>
            {% else %}
              <li><a href="/myAccount">Edit Account Information</a></li>
              <li><a href="/orderHistory">Order History</a></li>
            {% endif %}
            <li><a href="/logout">Logout</a></li>
          {% endif %}
        <ul>
      </nav>
    </header>
    <body>
      <div id="maincenter">
        {% for message in get_flashed_messages() %}
          <div class=flash>
            {{ message }}
            <br />
            <br />
            <br />
            
          </div>
        {% endfor %}
        {% block content %}
        {% endblock %}
      </div>
    </body>
    </div><!-- mainwrapper-->
    <div id="bottomwrapper"></div>
  </div><!--container-->
  <footer>
    <div class="column">
      <div class="header">Site Contributors</div>
      <ul>
        <li><a href="http://www.dhs.sg">Dunman High School</a></li>
        <li>Y5C23'2013 Computing</li>
        <li><a href= "mailto:leow.justin@dhs.sg">Justin Leow</a> & <a href= "mailto:dhssouvenir@example.com">Tan Di Sheng</a></li>
      </ul>
    </div>
    <div class="column">
      <div class="header">Contact Us</div>
      <ul>
        <li><i class="icon-mobile-phone icon-large"></i>1234 5678</li>
        <li>&nbsp;<i class="icon-envelope"></i>&nbsp;&nbsp;<a href= "mailto:dhssouvenir@example.com" >dhssouveneir@example.com</a></li>
        <li>&nbsp;<i class="icon-building"></i>&nbsp;&nbsp;10 Tanjong Rhu Road Singapore 436895</li>
      </ul>
    </div>
    
  </footer>
</html>